.container {
    background-color: rgb(247, 251, 255);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fightButton{
    background-color: rgb(169, 211, 145);
}

.playerField{
    background-color: rgb(38, 20, 138);
}

.battleField{
    background-color: rgb(137, 145, 23);
}

.opponentField{
    background-color: rgb(188, 140, 216);
}
.outcome{
    background-color: rgb(83, 240, 10);
}